.external-filter-title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}
.external-filter-dropdown {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.grid-external-filter-container {
  flex-direction: row;
  display: flex;
  align-items: center;
}
.grid-external-filter-option {
  display: block;
  width: 250px;
  margin-right: 40px;
}